@use "../utils/mixins.scss" as *;

.footer {
  height: 206px;
  background-image: url(../../source/footer-background.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  // box-sizing: border-box;

  @include for-desktop() {
    height: 359px;
  }
}