.footer {
  height: 206px;
  background-image: url(../../source/photo_footer.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 35px;

}